%article.post.main
  %header.main-title
    .name= link_to post.editor.name, editor_posts_path(post.editor.id)
    .avatar= link_to image_tag(gravatar_url(post.editor.email, 80)), editor_posts_path(post.editor.id), :title => post.editor.name
    .arrow-right

  %h3.post-title= link_to post.title, post
  = raw find_and_preserve(post.content)

  %footer.info
    %time{:datetime => post.published_at}
      = time_ago_in_words post.published_at
      ago
    %span.tags= raw post.tags.map{|tag| link_to(tag.name, tag_posts_path(tag), :rel => 'tag')}.join(' ')

  - if comments
    .comments
      = render 'shared/disqus'

