- title("Recent blog posts")

- if @editor.present?
  .posts_filter
    Displaying posts from
    %strong= @editor.name
- elsif @tag.present?
  .posts_filter
    Displaying posts with tag
    %strong= @tag.name

.posts
  = render :partial => 'post', :collection => @posts, :locals => {:comments => false}

  .pagination
    = will_paginate @posts

.aside
  = render 'shared/archive'
  = render 'shared/editors'
