!!! 5
%html{lang: 'en', class: 'no-js'}
  = render :partial => 'layouts/head'
  %body{ :id => body_id }
    %header.header
      = render :partial => 'layouts/header'
    .container
      = render :partial => 'layouts/flashes'
      = yield
    %footer.footer
      = render :partial => 'layouts/footer'
    -# Javascript at the bottom for fast page loading
    = render :partial => 'layouts/javascripts'
